@font-face {
    font-family: Lexend;
    src: url('../fonts/Lexend-VariableFont_wght.ttf');
}

@font-face {
    font-family: Lexend-Medium;
    src: url('../fonts/Lexend-Medium.ttf');
}

@font-face {
    font-family: Lexend-Deca;
    src: url('../fonts/LexendDeca-Regular.ttf');
}

html {
    font-family: Lexend;
}

.max-w-prose{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}